* {

    padding: 0;
    margin: 0;

}

:root {
    --main-bg-color: white;
    --userImageContainerSize: 160px;
    --userImageContainerBorderWidth: 6px;
}


body {
    background-color: orange;
}

/*CONTAINER OF ALL CARDS*/
.flexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/**CARD CONTAINER STYLES*/
.userCardContainer {

    background-color: var(--main-bg-color);
    border-radius: 20px;
    overflow: hidden;
    min-width: 280px;
    max-width: 300px;

    box-sizing: border-box;

}

.userCardMargins {
    margin: 20px 0;
}

/*USER INFO CONTAINER STYLES*/
.userInfoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 0 30px 20px;
}




/*BACKGROUND OF CARD HEADER*/
.userCardContainer > header {
    background-image: url("../img/mountains_clouds.jpg");
    background-size: cover;
    background-position: center;
    height: 120px;
    width: 100%;
}

/*USER AVATAR CONTAINER STYLES*/
.userImageContainer {
    box-sizing: border-box;
    height: var(--userImageContainerSize);
    width: var(--userImageContainerSize);
    border-radius: 50%;
    border-style: solid;
    border-color: var(--main-bg-color);
    border-width: var(--userImageContainerBorderWidth);
    background-color: red;
    margin-top: calc(var(--userImageContainerSize) / 2 * -1);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    overflow: hidden;
}


/*USER FULL NAME STYLES (NOT ALL)*/
.userFullName {
    text-transform: uppercase;;
}

/*FOOTER OF THE CARD SHOULD BE IN THE BOTTOM OF THE CARD*/
.userInfoContainer > footer {
    margin-top: auto;
}

/*USER CONTACTS IMITATION*/
.contactLink {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: dodgerblue;
    cursor: pointer;
}

.contactLink + .contactLink {
    margin-left: 10px;
    text-decoration: none;
}



